﻿<%@ Page Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Company_Detail.aspx.cs" Inherits="JobPostingManagementSystem.Pages.Company.Company_Detail" %>

<asp:Content runat="server" ID="Content2" ContentPlaceHolderID="MainContent">

</asp:Content>
