﻿.latest-companies {
            background: #f9f9f9;
            padding: 10px 0;
            cursor: pointer;
        }
.latest-company-inner:hover {
    background-color: #ece8e86e;
}


        .p-relative {
            position: relative;
        }

        .latest-company {
            text-align: center;
        }

        @media (min-width: 992px) {
            .latest-companies .latest-company:first-child {
                padding-right: 5px;
            }
        }

        .latest-company-inner {
            padding: 10px 5px;
            border: 1px solid #ddd;
            background: #fff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
        }

        .latest-company .company-logo {
            min-height: 70px;
        }

            .latest-company .company-logo img {
                border: none!important;
            }

            .latest-company .company-logo img, img.company-logo {
                margin: auto;
                border: 1px solid #ddd;
                border-radius: 5px;
                height: 60px;
                padding: 2px;
            }

        .latest-company-inner .company-name {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
        }

        .list-container {
            margin: 2px 0;
        }

        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }
        .list-group-item>.badge {
            float: right;
        }
        .cname {
            width: -webkit-calc(100% - 40px);
            width: -moz-calc(100% - 40px);
            width: calc(100% - 40px);
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .badge {
            background-color: #982520;
            border-bottom: none!important;
            width: 40px;
            text-align: center;
        }
        .badge {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #0b82bb;
            border-radius: 10px;
        }

        .company-detail {
            border: 1px solid #ddd;
            margin-bottom: 1%;
        }

        h1 {
            font-size: 20px;
            line-height: 35px;
            font-family: Oswald,sans-serif;
        }
        .div-header {
            margin-bottom: 15px;
            font-size: 20px;
            /*color: #555;*/
        }
        .div-header, .mainf, .panel-heading {
            font-family: Oswald,sans-serif;
        }
        .active-jobs .job {
            margin-bottom: 5px;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            padding: 10px 15px;
        }
        .job {
            display: table;
            width: 100%;
            margin-bottom: 5px;
        }
        .active-jobs .job .row {
            margin-top: 5px;
            margin-bottom: 5px;
        }
.active-jobs > .job:hover {
    background-color: #d5d6d6de;
    cursor: pointer;
}
        .div-cell {
            display: table-cell;
            padding: 5px 0;
            vertical-align: top;
        }
        .position-title {
            font-size: 18px;
            font-family: Oswald;
            margin-bottom: 10px;
        }
        span.caption {
            color: #555;
            width: 100px;
            display: inline-block;
            margin-right: 15px;
        }



        /*the category details css*/
        .category-detail {
            margin-left: 0%;
        }

        .job {
            display: table;
            width: 100%;
            margin-bottom: 5px;
        }
        .job-inner {
            border: 1px solid #bbb
        }                       
        .job-company, .job-details {
            display: table-cell;
            padding: 10px 15px;
            vertical-align: middle;
        }
        .job-company {
            width: 200px;
            background: #fff;
        }
        .company-name.mainf {
            text-align: center;
        }

        .company-name {
            font-weight: 400;
        }
        .div-header, .mainf, .panel-heading {
            font-family: Oswald,sans-serif;
        }
        .company-logo, .company-name.mainf a {
            margin: auto;
            max-width: 100%;
        }

        a {
            color: #337ab7;
            text-decoration: none;
        }
        a {
            background-color: transparent;
        }
        .latest-company .company-logo img, img.company-logo {
            margin: auto;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 2px;
        }
        .company-logo, .company-name.mainf a {
            margin: auto;
            max-width: 100%;
        }
        .company-logo {
            margin-bottom: 10px!important;
        }
        .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
            display: block;
            max-width: 100%;
            height: auto;
        }
.job-details {
    border-left: 1px solid #ccc;
    width: 85%;
}
        @media (min-width: 992px)
        .col-md-6 {
            width: 50%;
        }
        @media (min-width: 992px)
        .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
            float: left;
        }
        .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
        .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }


        